<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text = "'Tasks'" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <style>
        .themed-grid-col {
            padding-top: .75rem;
            padding-bottom: .75rem;
            background-color: rgba(86, 61, 124, .15);
            border: 1px solid rgba(86, 61, 124, .2);
        }

        a {
            font-size: 20px;
        }
        b {
            font-size: 20px;
        }
    </style>

    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>

<body>
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#"></use></svg>
        <span class="fs-4">TaskManager</span>
    </a>
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/home" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/add" class="nav-link">Add task</a></li>
    </ul>
</header>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Tasks</h1>
</div>

<div class="container mt-3 mb-3">
    <div class="row mb-3">
        <div class="col-2 themed-grid-col text-center"><b th:text="Date"/></div>
        <div class="col-1 themed-grid-col text-center"><b th:text="Time"/></div>
        <div class="col-9 themed-grid-col text-center"><b th:text="Description"/></div>
    </div>
    <div th:each="el : ${page.content} ">
        <div class="row mb-3">
            <div class="col-2 themed-grid-col text-center"><a th:text="${#dates.format(el.time, 'dd.MM.yyyy')}"/></div>
            <div class="col-1 themed-grid-col text-center"><a th:text="${#dates.format(el.time, 'HH:mm')}"/></div>
            <div class="col-9 themed-grid-col text-center"><a th:text="${el.description}"/></div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-3">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled" th:if="${not page.hasPrevious()}">
            <!--              индексация с 1, но getNumber возвращает n-1-->
            <a class="page-link" th:href="${url}+'?page='+${page.getNumber()}+'&size='+${page.getSize()}">Previous</a>
        </li>
        <li class="page-item" th:if="${page.hasPrevious()}">
            <a class="page-link" th:href="${url}+'?page='+${page.getNumber()}+'&size='+${page.getSize()}">Previous</a>
        </li>
        <div th:each="i: ${#numbers.sequence(1, page.getTotalPages())}">
            <li class="page-item" th:if="not ${i == page.getNumber()+1}">
                <a class="page-link" th:href="${url}+'?page='+${i}+'&size='+${page.getSize()}" th:text="${i}"/>
            </li>
            <li class="page-item active" th:if="${i == page.getNumber()+1}">
                <a class="page-link" th:href="${url}+'?page='+${i}+'&size='+${page.getSize()}" th:text="${i}"/>
            </li>
        </div>
        <li class="page-item disabled" th:if="${not page.hasNext()}">
            <a class="page-link" th:href="${url}+'?page='+${page.getNumber()+2}+'&size='+${page.getSize()}" tabindex="-1">Next</a>
        </li>
        <li class="page-item" th:if="${page.hasNext()}">
            <a class="page-link" th:href="${url}+'?page='+${page.getNumber()+2}+'&size='+${page.getSize()}" tabindex="-1">Next</a>
        </li>
    </ul>
</div>
</body>
</html>